[Unit]
Description=Cleanup unused apt packages

[Service]
Type=oneshot

# Make sure we do not stop on questions
Environment="DEBIAN_FRONTEND=noninteractive"

# Cleanup old/ unused kernels
ExecStart=/bin/bash -c "apt-get purge -y $(dpkg --list | egrep 'linux-(image|image-unsigned|headers|modules|modules-extra|source|doc)-[0-9]' | awk '{print $3,$2}' | sort -nr | tail -n +2 | grep -v $(uname -r) | awk '{ print $2}') | tr '[:space:]' ' '"

# Purge removed packages
ExecStart=/bin/bash -c "apt-get autoremove -y; apt-get purge -y $(dpkg --list | grep '^rc' | awk '{print $2}') | tr '[:space:]' ' '"
